<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-success" id="exampleModalLabel">Giriş Formu</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
          <div class="text-center">
              <button class="btn btn-outline-primary"><i class="bi bi-facebook"></i>FaceBook</button>
              <button class="btn btn-outline-danger" ><i class="bi bi-google"></i>Google</button>
              <br>
            </div>
            <br>
        <form>
          <div class="mb-3">
            <input type="text" class="form-control" id="recipient-name" placeholder="Email">
          </div>
          <div class="mb-3">
            <input type="password" class="form-control" id="recipient-name" placeholder="Şifre">
          </div>
          <div class="mb-3">
            <label for="message-text" class="col-form-label">Message:</label>
            <textarea class="form-control" id="message-text"></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Kapat</button>
        <button type="button" class="btn btn-success"><i class="bi bi-box-arrow-in-right"></i>Giriş Yap</button>
      </div>
    </div>
  </div>
</div>

