<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">

    <title>Hızlı market</title>
  </head>
  <body>
    
    <header>
        {% include "includes/navbar.html" %}
        <br>
        <!-- Menu Çubuğu -->
    
    </header>
    <main>
      <div class="container">
        {% include "includes/messages.html" %}
          <div class="row">
              <div class="col"></div>
              <!-- SLİDER -->
              <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                  <div class="carousel-inner">
                    <div class="carousel-item active">
                      <img src="/static/images/3.png" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                      <img src="/static/images/5.png" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                      <img src="/static/images/5.png" class="d-block w-100" alt="...">
                    </div>
                  </div>
                  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                  </button>
                  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                  </button>
                </div>
          </div>

            <div class="col-md-12">
              <div class="row">
                <div class="col-md-6">
                  <h3> Ürün Listesi</h3>
                </div>
              </div>
                <table class="table table-striped table-bordered" id="example">
                    <thead class="table-dark">
                        <tr style="color: white;">
                            <th> Resim</th>
                            <th> Adı</th>
                            <th> Adet</th>
                            <th> Fiyat</th>
                            <th> Toplam Tutar</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                      {% for item in items %}
                        <tr>
                            <td>
                              <img src="/static/images/{{item.image}}" alt="" width="100" height="80">
                            </td>
                            <td>{{item.name}}</td>
                            <td>
                              {{item.sepet_quantity}}
                            </td>
                            <td>{{item.price}}</td>
                            <td id="totalPrice">{{item.sepet_total_price}}</td>
                        </tr>
                      {% endfor %}  
                        <tr>
                            <td colspan="4" style="text-align: right;"><strong>Toplam Tutar =</strong></td>
                            <td style="background-color: darkred;"><span style="font-size: large; color: white;" id="belongsToTotalPrice"></span></td>
                        </tr>
                       <sciprt>
                         
                       </sciprt>
                    </tbody>
                </table>
                <br>
            </div>
            <form action="">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <br>
                            <h4>Addres Bilgisi</h4>
                            <div class="mb-3 row">
                                <label for="staticEmail" class="col-sm-2 col-form-label">Adı</label>
                                <div class="col-sm-6">
                                  <input type="text" readonly class="form-control">
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <label for="staticEmail" class="col-sm-2 col-form-label">Soyadı</label>
                                <div class="col-sm-6">
                                  <input type="text" readonly class="form-control">
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <label for="staticEmail" class="col-sm-2 col-form-label">Semt</label>
                                <div class="col-sm-6">
                                  <input type="text" readonly class="form-control">
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <label for="staticEmail" class="col-sm-2 col-form-label">Şehir</label>
                                <div class="col-sm-6">
                                  <input type="text" readonly class="form-control">
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <label for="staticEmail" class="col-sm-2 col-form-label">Telefon</label>
                                <div class="col-sm-6">
                                  <input type="text" readonly class="form-control">
                                </div>
                            </div>

                        </div>
                        <div class="col-md-6">
                            <br>
                            <h4>Ödeme Bilgisi</h4>
                            <div class="mb-3 row">
                                <label for="staticEmail" class="col-sm-2 col-form-label">Kart Adı</label>
                                <div class="col-sm-6">
                                  <input type="text" readonly class="form-control">
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <label for="staticEmail" class="col-sm-2 col-form-label">Kart Numarası</label>
                                <div class="col-sm-6">
                                  <input type="text" readonly class="form-control">
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <label for="staticEmail" class="col-sm-2 col-form-label">Ay</label>
                                <div class="col-sm-6">
                                  <input type="text" readonly class="form-control">
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <label for="staticEmail" class="col-sm-2 col-form-label">Yıl</label>
                                <div class="col-sm-6">
                                  <input type="text" readonly class="form-control">
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <label for="staticEmail" class="col-sm-2 col-form-label">Güvenlik Kodu</label>
                                <div class="col-sm-6">
                                  <input type="text" readonly class="form-control">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6"></div>
                        <div class="col-md-6">
                            <button type="submit" class="btn btn-success form-control"><i  class="bi bi-check-circle"></i> Siparişi Tamamla</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
  </main>
    
    <footer>
        <div class="container bg-dark">
            <footer class="row row-cols-5 py-5 my-5 border-top text-warning">
          
              <div class="col">
                <h5>İletişim</h5>
                <ul class="nav flex-column">
                  <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white"><i class="bi bi-house-door-fill"></i>  İstanbul-Üsküdar</a></li>
                  <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white"><i class="bi bi-envelope-fill"></i>  fastshoping@gmail.com</a></li>
                  <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white"><i class="bi bi-telephone-fill"></i>  05327896542</a></li>
                  <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white"><i class="bi bi-printer-fill"></i>  05327456358r</a></li>

                </ul>
              </div>
              
              <div class="col">
                <h5>Sosyal Medya</h5>
                <ul class="nav flex-column">
                  <li class="nav-item mb-2">
                    <a href="#">
                    <img src="/static/images/facebook.png" alt="" width="50">      
                  </a>
                  <a href="#">
                    <img src="/static/images/twitter.png" alt="" width="50">      
                  </a>
                  <a href="#">
                    <img src="/static/images/youtube.png" alt="" width="50">      
                  </a>
                </li>
                  
                </ul>
              </div>
            </footer>
        </div>
    </footer>
    {% include "includes/modalBar.html" %}

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>

    <script>
      $(document).ready(function() {
    $('#example').DataTable({"language": {
            "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Turkish.json"
        }});
    } );
    </script>
  </body>
</html>